<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep learning models</title>
</head>

<body class="bg-primary">
    {% include 'navbar.html' %}

    <div class="container-fluid bg-white">
        <div class="container p-4 " style="width: 65%;min-width: 380px;">
            <h3 class="fw-semibold text-center">
                Our Models: The Power Behind the Predictions
            </h3>
            <hr>
            <p class="fs-5 text-center">
                Our ASD detection model is powered by a sophisticated combination of machine learning algorithms. We've carefully selected few algorithms to effectively process and interpret the complex patterns present in the data. This page offers a technical overview
                of each algorithm, outlining its specific function and contribution to the overall accuracy and reliability of our detection tool.
            </p>
        </div>
    </div>

    <div class="container-fluid p-4">
        <h3 class="text-center fw-semibold">
            Algorithms used in model training
        </h3>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Random Forest Classifier
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h4 class="text-center fw-semibold"> Random Forest Classifier</h4>
                        <hr>
                        <div class="row container-aflex">
                            <div class="col-md-6 p-4">
                                <p class="fs-5">
                                    <b>Description</b><br> Each tree in the forest is trained on a random subset of the data, reducing overfitting and improving generalization. This makes it a robust and versatile algorithm suitable for various healthcare
                                    applications, including disease diagnosis, patient risk stratification,medical image analysis, drug discovery, and clinical decision support systems.
                                </p>
                                <p class="fs-5"><b>Key features</b></p>
                                <ul>
                                    <li>
                                        <b>High Accuracy:</b> By combining multiple decision trees, Random Forest often achieves superior accuracy compared to individual trees.
                                    </li>
                                    <li>
                                        <b>Robustness:</b> It is less prone to overfitting, making it reliable for complex datasets.
                                    </li>
                                    <li>
                                        <b>Feature Importance: </b> It provides insights into the relative importance of different features in the dataset.
                                    </li>
                                    <li>
                                        <b>Handles Missing Data:</b> It can handle missing data without requiring imputation.
                                    </li>
                                    <li>
                                        <b>Effective for both Numerical and Categorical Data:</b> It can work with both types of data.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 p-4">
                                <img src="../static/images/model/rfclsf.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#c-2" aria-expanded="false" aria-controls="c-2">
                        Logistic Regression
                    </button>
                </h2>
                <div id="c-2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h4 class="text-center fw-semibold"> Logistic Regression</h4>
                        <hr>
                        <div class="row container-aflex">
                            <div class="col-md-6 p-4">
                                <p class="fs-5">
                                    <b>Description</b><br> Logistic Regression is a statistical method used to model the probability of a binary outcome. It's widely used in various fields, including healthcare, finance, and marketing. In the context
                                    of healthcare, it can be used to predict the likelihood of a patient developing a specific disease, or the probability of a particular treatment being effective.
                                </p>
                                <p class="fs-5"><b>Key features</b></p>
                                <ul>
                                    <li>
                                        <b>Probability Estimation: </b> It directly estimates the probability of a specific outcome.
                                    </li>
                                    <li>
                                        <b>Simplicity:</b> It's a relatively simple algorithm to understand and implement.
                                    </li>
                                    <li>
                                        <b>Interpretability:</b> The coefficients of the model can be interpreted to understand the impact of different factors.
                                    </li>
                                    <li>
                                        <b>Efficiency:</b> It's computationally efficient and can handle large datasets.
                                    </li>
                                    <li>
                                        <b>Wide Applicability: </b> It can be used for various classification tasks, including binary and multi-class classification.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 p-4">
                                <img src="../static/images/model/rfclsf.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#c-3" aria-expanded="false" aria-controls="c-3">
                        Decision Tree Classifier
                    </button>
                </h2>
                <div id="c-3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h4 class="text-center fw-semibold"> Decision Tree Classifier</h4>
                        <hr>
                        <div class="row container-aflex">
                            <div class="col-md-6 p-4">
                                <p class="fs-5">
                                    <b>Description</b><br> A Decision Tree is a tree-like model of decisions and their possible consequences, including chance event outcomes, resource costs, and utility. It is a non-parametric supervised learning method
                                    used for both classification and regression tasks. The tree is constructed by splitting the data into subsets based on feature values. This process continues recursively until a stopping criterion is met.
                                </p>
                                <p class="fs-5"><b>Key features</b></p>
                                <ul>
                                    <li>
                                        <b>Interpretability:</b> Decision trees are easily interpretable, making it easy to understand the decision-making process.
                                    </li>
                                    <li>
                                        <b>Handles both Categorical and Numerical Data:</b> It can handle both types of data without requiring feature scaling.
                                    </li>
                                    <li>
                                        <b>Non-Parametric: </b> It doesn't assume any underlying distribution of the data.
                                    </li>
                                    <li>
                                        <b>Robust to Outliers: </b> Decision trees are relatively robust to outliers.
                                    </li>
                                    <li>
                                        <b>Can Handle Missing Values: </b> It can handle missing values by using techniques like imputation or surrogate splits.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 p-4">
                                <img src="../static/images/model/dtclf.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#c-4" aria-expanded="false" aria-controls="c-4">
                        AdaBoost Classifier
                    </button>
                </h2>
                <div id="c-4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h4 class="text-center fw-semibold"> AdaBoost Classifier</h4>
                        <hr>
                        <div class="row container-aflex">
                            <div class="col-md-6 p-4">
                                <p class="fs-5">
                                    <b>Description</b><br> AdaBoost, short for Adaptive Boosting, is a powerful ensemble learning technique that combines multiple weak learners to create a strong classifier. It works iteratively, focusing on misclassified
                                    samples in each round. By assigning higher weights to these misclassified samples, subsequent models are encouraged to learn from their mistakes. This adaptive approach leads to improved overall performance.
                                </p>
                                <p class="fs-5"><b>Key features</b></p>
                                <ul>
                                    <li>
                                        <b>Ensemble Learning:</b> Combines multiple weak learners to create a strong classifier.
                                    </li>
                                    <li>
                                        <b>Adaptive Learning: </b> Focuses on misclassified samples in each iteration.

                                    </li>
                                    <li>
                                        <b>Robustness:</b> Less sensitive to noise and outliers.
                                    </li>
                                    <li>
                                        <b>Versatility:</b> Can be used with various base learners, such as decision trees or neural networks.
                                    </li>
                                    <li>
                                        <b>Effective for Complex Datasets:</b> Can handle complex decision boundaries.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 p-4">
                                <img src="../static/images/model/adaclf.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#c-5" aria-expanded="false" aria-controls="c-5">
                        Extra Trees Classifier
                    </button>
                </h2>
                <div id="c-5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h4 class="text-center fw-semibold"> Extra Trees Classifier</h4>
                        <hr>
                        <div class="row container-aflex">
                            <div class="col-md-6 p-4">
                                <p class="fs-5">
                                    <b>Description</b><br> Extra Trees, or Extremely Randomized Trees, is an ensemble learning method similar to Random Forest. However, it introduces additional randomness in the tree construction process. Instead of selecting
                                    the best split point for each node, Extra Trees randomly selects a split point from a subset of features. This increased randomness leads to a more diverse ensemble and can improve performance, especially in high-dimensional
                                    datasets.
                                </p>
                                <p class="fs-5"><b>Key features</b></p>
                                <ul>
                                    <li>
                                        <b>Ensemble Learning: </b> Combines multiple decision trees to make predictions.
                                    </li>
                                    <li>
                                        <b>Randomized Splits: </b> Introduces randomness in the tree construction process.
                                    </li>
                                    <li>
                                        <b>Reduced Overfitting: </b> The randomness helps to reduce overfitting.
                                    </li>
                                    <li>
                                        <b>Faster Training:</b> Often trains faster than Random Forest due to its simplified decision-making process.
                                    </li>
                                    <li>
                                        <b>Effective for High-Dimensional Data:</b> Can handle datasets with many features.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 p-4">
                                <img src="../static/images/model/etclf.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#c-6" aria-expanded="false" aria-controls="c-6">
                        K-Nearest Neighbors (KNN) Classifier
                    </button>
                </h2>
                <div id="c-6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h4 class="text-center fw-semibold">K-Nearest Neighbors (KNN) Classifier</h4>
                        <hr>
                        <div class="row container-aflex">
                            <div class="col-md-6 p-4">
                                <p class="fs-5">
                                    <b>Description</b><br> K-Nearest Neighbors is a simple yet effective classification algorithm. It classifies a new data point based on the majority vote of its k nearest neighbors. The distance between data points is
                                    calculated using metrics like Euclidean distance or Manhattan distance.
                                </p>
                                <p class="fs-5"><b>Key features</b></p>
                                <ul>
                                    <li>
                                        <b>Simple and Intuitive: </b> Easy to understand and implement.
                                    </li>
                                    <li>
                                        <b>Non-Parametric: </b> Doesn't assume any underlying data distribution. eliable for complex datasets.
                                    </li>
                                    <li>
                                        <b>Versatile: </b> Can be used for both classification and regression tasks.
                                    </li>
                                    <li>
                                        <b>Sensitive to Noise:</b> Can be sensitive to noisy data, especially with low values of k.
                                    </li>
                                    <li>
                                        <b>Computational Cost: </b> Can be computationally expensive for large datasets, especially during the prediction phase.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 p-4">
                                <img src="../static/images/model/knnclf.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#c-7" aria-expanded="false" aria-controls="c-7">
                        Gaussian Naive Bayes
                    </button>
                </h2>
                <div id="c-7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h4 class="text-center fw-semibold">Gaussian Naive Bayes</h4>
                        <hr>
                        <div class="row container-aflex">
                            <div class="col-md-6 p-4">
                                <p class="fs-5">
                                    <b>Description</b><br> Gaussian Naive Bayes is a probabilistic classification algorithm that assumes features follow a Gaussian distribution. It's particularly useful for continuous numerical data. It calculates the
                                    probability of a data point belonging to a particular class based on Bayes' theorem and the assumption of feature independence.
                                </p>
                                <p class="fs-5"><b>Key features</b></p>
                                <ul>
                                    <li>
                                        <b>Probabilistic Approach: </b> Uses probability theory to make predictions.
                                    </li>
                                    <li>
                                        <b>Gaussian Assumption: </b> Assumes features follow a Gaussian distribution.s
                                    </li>
                                    <li>
                                        <b>Feature Independence:</b> Assumes features are independent of each other.
                                    </li>
                                    <li>
                                        <b>Simple and Efficient: </b> Relatively simple to implement and computationally efficient.
                                    </li>
                                    <li>
                                        <b>Effective for High-Dimensional Data: </b> Can handle datasets with many features.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 p-4">
                                <img src="../static/images/model/gnb.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#c-8" aria-expanded="false" aria-controls="c-8">
                        Support Vector Machine (SVM)
                    </button>
                </h2>
                <div id="c-8" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h4 class="text-center fw-semibold"> Support Vector Machine (SVM)</h4>
                        <hr>
                        <div class="row container-aflex">
                            <div class="col-md-6 p-4">
                                <p class="fs-5">
                                    <b>Description</b><br> Support Vector Machine (SVM) is a powerful supervised machine learning algorithm used for both classification and regression tasks. It aims to find the optimal hyperplane that separates different
                                    classes of data points with the maximum margin. SVMs are particularly effective for high-dimensional data and can handle complex decision boundaries.
                                </p>
                                <p class="fs-5"><b>Key features</b></p>
                                <ul>
                                    <li>
                                        <b>Margin Maximization:</b> SVMs focus on finding the hyperplane that maximizes the margin between different classes.
                                    </li>
                                    <li>
                                        <b>Kernel Trick: </b> SVMs can handle non-linearly separable data using kernel functions that map data to higher-dimensional spaces.
                                    </li>
                                    <li>
                                        <b>Effective for High-Dimensional Data: </b> SVMs can handle high-dimensional datasets without overfitting.
                                    </li>
                                    <li>
                                        <b>Robust to Outliers: </b> SVMs are relatively robust to outliers.
                                    </li>
                                    <li>
                                        <b>Versatile: </b> Can be used for both classification and regression tasks.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 p-4">
                                <img src="../static/images/model/svm.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% include 'footer.html' %}

    <script>
        AOS.init();
    </script>
</body>

</html>